<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="/navbar.css">
    <link rel="stylesheet" href="/collector.css">
    <link rel="stylesheet" href="/hamburger.css">
</head>

<body>
    <header>
        <h1>CleanCity</h1>

        <div class="hamburger" >
            <span></span>
            <span></span>
            <span></span>
        </div>

        <% if (locals.user) { %>
            <nav id="main-nav">
                <a href="/collector/profile">Profile</a>
                <a href="/collector/task">Tasks</a>
                <a href="/collector/logout">Logout</a>
            </nav>
        <% } else { %>
            <nav id="main-nav">
                <a href="/">Home</a>
                <a href="/signin">Signin</a>
                <a href="/signup">Signup</a>
            </nav>
        <% } %>
    </header>

    <div class="profile-container">
        <div class="profile-header">
            <div class="profile-picture">
                <img src="<%= locals.user.profilePicture || '/images/default.png' %>" alt="Profile Picture">
            </div>
            <div class="profile-info">
                <h1><%= locals.user.firstname %> <%= locals.user.lastname %></h1>
            </div>
        </div>

        <div class="details-section">
            <h2>Details</h2>
            <p>Email: <%= locals.user.email %></p>
            <p>Date of Birth: <%= locals.user.date %></p>
        </div>
    </div>

    <script>
       const hamburger = document.querySelector('.hamburger');
        const nav = document.getElementById('main-nav');

        hamburger.addEventListener('click', () => {
            hamburger.classList.toggle('active');
            nav.classList.toggle('active');
        });
    </script>
</body>

</html>
